uptime-kuma:
  ingress:
    enabled: true
    className: nginx
    hosts:
      - host: &host uptime-kuma.fullstackjam.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/target: "homelab-tunnel.fullstackjam.com"
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    tls:
      - hosts:
          - *host
        secretName: uptime-kuma-tls-certificate
  image:
    tag: latest
  mariadb:
    enabled: true
    architecture: standalone
    auth:
      database: uptime_kuma
      username: uptime_kuma
      password: "uptime-kuma-db-password"
      rootPassword: "uptime-kuma-root-password"
    primary:
      persistence:
        enabled: true
        size: 8Gi
  serviceMonitor:
    enabled: true
