app-template:
  controllers:
    kanidm:
      type: statefulset
      containers:
        app:
          image:
            repository: docker.io/kanidm/server
            tag: 1.8.6
      statefulset:
        volumeClaimTemplates:
          - name: data
            size: 1Gi
            globalMounts:
              - path: /data
            accessMode: ReadWriteOnce

  configMaps:
    config:
      data:
        server.toml: |
          bindaddress = "[::]:443"
          ldapbindaddress = "[::]:636"
          trust_x_forward_for = true
          db_path = "/data/kanidm.db"
          tls_chain = "/data/ca.crt"
          tls_key = "/data/tls.key"
          domain = "auth.fullstackjam.com"
          origin = "https://auth.fullstackjam.com"

  service:
    app:
      controller: kanidm
      ports:
        https:
          port: 443
          protocol: HTTPS
        ldap:
          port: 636
          protocol: TCP

  ingress:
    app:
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: homelab-tunnel.fullstackjam.com
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        nginx.ingress.kubernetes.io/backend-protocol: HTTPS
      hosts:
        - host: &host auth.fullstackjam.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: app
                port: https
      tls:
        - hosts:
            - *host
          secretName: kanidm-tls-certificate

  persistence:
    config:
      type: configMap
      identifier: config
      globalMounts:
        - path: /data/server.toml
          subPath: server.toml
    tls:
      type: secret
      name: kanidm-selfsigned-certificate
      globalMounts:
        - path: /data/ca.crt
          subPath: ca.crt
        - path: /data/tls.key
          subPath: tls.key
