argo-rollouts:
  controller:
    replicas: 2
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  dashboard:
    enabled: true
    replicas: 1
    service:
      type: ClusterIP
