app-template:
  controllers:
    cloudflared:
      replicas: 3
      containers:
        app:
          image:
            repository: cloudflare/cloudflared
            tag: 2026.1.1
          args:
            - tunnel
            - --no-autoupdate
            - run
          env:
            TUNNEL_TOKEN:
              valueFrom:
                secretKeyRef:
                  name: cloudflared-credentials
                  key: tunnel-token
