app-template:
  controllers:
    cloudflared:
      replicas: 3
      containers:
        app:
          image:
            repository: cloudflare/cloudflared
            tag: 2025.11.1
          args:
            - tunnel
            - run
            - --protocol=quic

  configMaps:
    config:
      data:
        config.yaml: |
          tunnel: homelab
          credentials-file: /etc/cloudflared/credentials.json
          metrics: 0.0.0.0:2000
          no-autoupdate: true
          grace-period: 30s
          retries: 10
          protocol: quic
          ingress:
            - hostname: 'traefik.fullstackjam.com'
              service: https://traefik.traefik:443
              originRequest:
                noTLSVerify: true
                keepAlive-connections: 100
                keepAlive-timeout: 30s
            - hostname: '*.fullstackjam.com'
              service: https://ingress-nginx-controller.ingress-nginx
              originRequest:
                noTLSVerify: true
                keepAlive-connections: 100
                keepAlive-timeout: 30s
            - service: http_status:404

  persistence:
    config:
      type: configMap
      identifier: config
      globalMounts:
        - path: /etc/cloudflared/config.yaml
          subPath: config.yaml
    credentials:
      type: secret
      name: cloudflared-credentials
      globalMounts:
        - path: /etc/cloudflared/credentials.json
          subPath: credentials.json
